# Autodetect text files
* text=auto eol=lf

# Ignore some meta files when creating an archive of this repository
.*                      export-ignore
.yml                    export-ignore
/Makefile               export-ignore
/Dockerfile             export-ignore
/tests                  export-ignore
